############################
# ROS2 / colcon
############################
build/
install/
log/

############################
# Sphinx
############################
docs/build/
docs/_build/

############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
.venv/
venv/

############################
# C++ / Build
############################
*.o
*.obj
*.so
*.a
*.out
*.exe
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

############################
# IDE / Editor
############################
.vscode/
.idea/
*.swp
*.swo

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Logs / temp
############################
*.log
