<?xml version="1.0"?>
<robot name="mensabot_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="model_only" default="False" />

  <xacro:include filename="$(find mensabot_description)/urdf/mensabot/mensabot_macro.xacro" />
  <xacro:mensabot_frame/>
  


  <xacro:include filename="$(find mensabot_description)/urdf/mensabot/mensabot_macro.ros2_control.xacro" />
  <xacro:mensabot_ros2_control/>



</robot>