vendor_id: 0x000000fb                                                                                           # EtherCAT vendor id of maxon motor ag.
product_id: 0x6B500000
assign_activate: 0x0300
auto_fault_reset: true

sdo:
  - {index: 0x60C2, sub_index: 1, type: int8, value: 50}                                                        # Interpolation time period value
  - {index: 0x60C2, sub_index: 2, type: int8, value: -3}                                                        # Interpolation time index
                                                                                                                # 50 * 10E-3 seconds = 50 milliseconds
                                                                                                                # Also change:
                                                                                                                #   - update_rate in controller_manager.yaml
                                                                                                                #   - control_frequency in ../../mensabot_description/urdf/mensabot/mensabot_macro.ros2_control.xacro

rpdo:
  - index: 0x1600
    channels:
      - {index: 0x6040, sub_index: 0, type: uint16, default: 0}                                                 # Control word
      - {index: 0x607a, sub_index: 0, type: int32, default: .nan}                                               # Target position
                                                                                                                # To prevent unwanted movement, set default to .nan so the target position is set to the last actual position.
      - {index: 0x60ff, sub_index: 0, type: int32, command_interface: velocity, default: 0, factor: 380.8068}   # Target velocity
                                                                                                                # Factor: seconds per minute * gear ratio / (2 * pi) = 60 * 25 / (2 * pi)
      - {index: 0x6071, sub_index: 0, type: int16, default: 0}                                                  # Target torque
      - {index: 0x60b0, sub_index: 0, type: int32, default: 0}                                                  # Offset position
      - {index: 0x60b1, sub_index: 0, type: int32, default: 0}                                                  # Offset velocity
      - {index: 0x60b2, sub_index: 0, type: int16, default: 0}                                                  # Offset torque
      - {index: 0x6060, sub_index: 0, type: int8, default: 9}                                                   # Mode of operation
      - {index: 0x60b8, sub_index: 0, type: uint16, default: 0}                                                 # Touch Probe Function

tpdo:
  - index: 0x1a00
    channels:
      - {index: 0x6041, sub_index: 0, type: uint16, state_interface: status}                                    # Status word
      - {index: 0x6064, sub_index: 0, type: int32, state_interface: position, factor: 0.00003846}               # Position actual value
                                                                                                                # Factor: 2 * pi / encoder ticks per round / gear ratio = 2 * pi / 4096 / 25
      - {index: 0x606c, sub_index: 0, type: int32, state_interface: velocity, factor: 0.0026260}                # Velocity actual value
                                                                                                                # Factor: 2 * pi / seconds per minute / gear ratio = 2 * pi / 60 / 25
      - {index: 0x6077, sub_index: 0, type: int16, state_interface: torque}                                     # Torque actual value
      - {index: 0x6061, sub_index: 0, type: int8, state_interface: controller_mode}                             # Mode of operation display
      - {index: 0x60b9, sub_index: 0, type: int16}                                                              # Touch Probe Status
      - {index: 0x60ba, sub_index: 0, type: int32}                                                              # Touch Probe Position 1 Positive Value
      - {index: 0x60bb, sub_index: 0, type: int32}                                                              # Touch Probe Position 1 Negative Value

sm:
  - {index: 0, type: output, pdo: ~, watchdog: enable}
  - {index: 1, type: input, pdo: ~, watchdog: enable}
  - {index: 2, type: output, pdo: rpdo, watchdog: enable}
  - {index: 3, type: input, pdo: tpdo, watchdog: enable}
